.scroll{
    overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 15px;
    // visibility: hidden;
    //  background: linear-gradient(#242424 10% , rgb(13, 13, 13) 95%) !important;
    background: rgba($color: #000000, $alpha: 0);
    &:hover {
      visibility: visible;
    }
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.651);
    // visibility: hidden;
    border-radius: 40px;
    width: 50px;
    &:hover {
      visibility: visible;
    }
  }
  }